@model CarRental.UI.ViewsModels.Role.RoleEditViewModel
@{
    ViewBag.Title = "Edition d'un role";
}

<section class="content-header">
    <h1>
        Modifier un role
    </h1>
</section>
@if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
{
    if (ViewBag.Message != null)
    {
        <div class="alert alert-danger">
            <strong> Erreur! </strong>@ViewBag.Message
        </div>
    }
}
<section class="content">
    @using (Html.BeginForm("Edit", "Role", FormMethod.Post))

    {
        <div class="row">

            <!-- role -->
            <div class="col-sm-12">
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Edition du role : @Html.Raw(Model.RoleWithActionTuple.Item1.Libelle)</h3>
                    </div>
                    <div class="box-body">

                        <div class="form-group">
                            <label for="roleName">Libelle</label>
                            <input class="form-control" type="text" id="roleName" name="roleName" value="@Html.Raw(Model.RoleWithActionTuple.Item1.Libelle)" />
                        </div>
                        <div class="form-group">
                            <table class="table table-bordered table-striped table-DT dataTable no-footer" id="ActionTable">
                                <thead>
                                    <tr>
                                        <th class="sorting">
                                            Action
                                        </th>
                                        <th>
                                            Statut
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var action in Model.allActions)
                                    {
                                        bool isChecked = false;
                                        foreach (var thisRoleAction in Model.RoleWithActionTuple.Item2)
                                        {
                                            if (action.Id == thisRoleAction.Id)

                                            {
                                                isChecked = true;

                                            }

                                        }
                                        if (isChecked == true)
                                        {
                                            <tr>
                                                <td>
                                                    <label class="form-check-label" for="@Html.Raw(action.Id)">@Html.Raw(action.Libelle)</label>
                                                </td>
                                                <td>
                                                    <input type="checkbox" class="form-check-input" id="@Html.Raw(action.Id)" name="actions" value="@Html.Raw(action.Id)" checked>
                                                </td>
                                            </tr>

                                        }
                                        else
                                        {
                                            <tr>
                                                <td>
                                                    <label class="form-check-label" for="@Html.Raw(action.Id)">@Html.Raw(action.Libelle)</label>
                                                </td>
                                                <td>
                                                    <input type="checkbox" class="form-check-input" id="@Html.Raw(action.Id)" name="actions" value="@Html.Raw(action.Id)">
                                                </td>
                                            </tr>
                                        }

                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- bottom buttons 1 -->
        <div class="row">
            <div class="col-sm-12">
                <div class="box-footer text-center">
                    <div class="col-sm-6">
                        <br>
                        <a class="btn btn-default btn-block" href="@Url.Action("Index", "Configuration")">
                            <i class="fa fa-mail-reply"></i> Annuler
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <br>
                        <input type="submit" class="btn bg-olive btn-block" value="Valider" />


                    </div>
                </div>
            </div>
        </div>
    }
</section>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#ActionTable').DataTable();
        });
    </script>
}