@model CarRental.UI.ViewsModels.Profile.ProfileIndexViewModel
@using System.Configuration

@{
    ViewBag.Title = "Index";
    // ViewBag.ErrorModal = "test modal d'erreur";

    var userImagesUrl = ConfigurationManager.AppSettings["UtilisateurImageURL"];

    /*
     * On cherche l'url de la photo de profil (jpg ou png)
     * Si elle n'existe pas, on affiche la default
     */
    var profilePath = userImagesUrl + "default.png";
    string[] profilePathPossibilities = {
            userImagesUrl + Model.CurrentUser.Item1.Id + "-PP.jpg",
            userImagesUrl + Model.CurrentUser.Item1.Id + "-PP.jpeg",
            userImagesUrl + Model.CurrentUser.Item1.Id + "-PP.png",
    };
    foreach (string profilePathPossibility in profilePathPossibilities)
    {
        if (File.Exists(Server.MapPath(profilePathPossibility)))
        {
            profilePath = profilePathPossibility;
        }
    }

    /*
     * On cherche l'url du permis de conduire (jpg ou png)
     * S'il existe un recto (DL1), on cherche à savoir s'il existe un verso (DL2)
     */
    var driverLicenceRectoPath = "";
    var driverLicenceVersoPath = "";

    string[] rectoPossibilities = {
        userImagesUrl + Model.CurrentUser.Item1.Id + "-DLRecto.jpg",
        userImagesUrl + Model.CurrentUser.Item1.Id + "-DLRecto.jpeg",
        userImagesUrl + Model.CurrentUser.Item1.Id + "-DLRecto.png",
    };
    foreach (string rectoPossibility in rectoPossibilities)
    {
        if (File.Exists(Server.MapPath(rectoPossibility)))
        {
            driverLicenceRectoPath = rectoPossibility;
        }
    }

    string[] versoPossibilities = {
        userImagesUrl + Model.CurrentUser.Item1.Id + "-DLVerso.jpg",
        userImagesUrl + Model.CurrentUser.Item1.Id + "-DLVerso.jpeg",
        userImagesUrl + Model.CurrentUser.Item1.Id + "-DLVerso.png",
    };
    foreach (string versoPossibility in versoPossibilities)
    {
        if (File.Exists(Server.MapPath(versoPossibility)))
        {
            driverLicenceVersoPath = versoPossibility;
        }
    }

    var renderDrivingLicenceRectoForm = false;
    var renderDrivingLicenceVersoForm = false;
    if (ViewBag.EditDrivingLicence != null && ViewBag.EditDrivingLicence == "on")
    {
        renderDrivingLicenceRectoForm = true;
        renderDrivingLicenceVersoForm = true;
    }
    else if (ViewBag.EditDrivingLicence != null && ViewBag.EditDrivingLicence == "off")
    {
        renderDrivingLicenceRectoForm = false;
        renderDrivingLicenceVersoForm = false;
    }

}

<section class="content-header">
    <h1>
        Mon profil
    </h1>
</section>

<!-- Main content -->
<section class="content">

    <!-- Profile header -->
    <div class="box box-widget widget-user">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-aqua-active">
            <h3 class="widget-user-username">@Model.CurrentUser.Item1.Lastname @Model.CurrentUser.Item1.Firstname</h3>
            <h5 class="widget-user-desc">@Model.CurrentUser.Item1.Job</h5>
        </div>
        <a href="">
            <div class="widget-user-image">
                <img class="img-circle" src="@Url.Content(profilePath)" alt="User Avatar">
            </div>
        </a>

        <div class="box-footer">
            <div class="row">
                <div class="col-sm-4 border-right">
                    <div class="description-block">
                        <h5 class="description-header">3</h5>
                        <span class="description-text">EMPRUNTS FAITS</span>
                    </div>
                </div>
                <div class="col-sm-4 border-right">
                    <div class="description-block">
                        <h5 class="description-header">1</h5>
                        <span class="description-text">EMPRUNT EN COURS</span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="description-block">
                        <h5 class="description-header">45</h5>
                        <span class="description-text">KM AU TOTAL</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Error Modal -->
    @if (ViewBag.ErrorModal != null)
    {
        <div class="row">
            <div class="col-sm-12">
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h4><i class="icon fa fa-warning"></i>Erreur</h4>
                    @Html.Raw(ViewBag.ErrorModal)
                </div>
            </div>
        </div>
    }

    <div class="row">

        <!-- Infos box -->
        <div class="col-md-3">
            <div class="box box-primary">

                <div class="box-header with-border">
                    <h3 class="box-title">Mes informations</h3>
                    <div class="pull-right box-tools">
                        <button type="button" class="btn btn-sm" data-toggle="tooltip">
                            <i class="fa fa-pencil"></i>
                        </button>
                    </div>
                </div>

                <div class="box-body">
                    <strong><i class="fa fa-book margin-r-5"></i> Poste</strong>
                    <p class="text-muted">
                        @Model.CurrentUser.Item1.Job
                    </p>

                    <hr>

                    <strong><i class="fa fa-map-marker margin-r-5"></i> Lieu de travail</strong>
                    <p class="text-muted">@Model.CurrentUser.Item2.Name</p>

                    <hr>

                    <strong><i class="fa fa-pencil margin-r-5"></i> Mot de passe</strong>
                    <p class="text-muted">**********</p>

                    <hr>

                    <strong><i class="fa fa-file-text-o margin-r-5"></i> Notes</strong>
                    @if (Model.CurrentUser.Item1.Note.Length > 0)
                    {
                        <p class="text-muted">
                            @Model.CurrentUser.Item1.Note
                        </p>
                    }
                    else
                    {
                        <p class="text-muted">Aucune</p>
                    }
                </div>

            </div>
        </div>

        <!-- Contact box -->
        <div class="col-md-3">
            <div class="box box-primary">

                <div class="box-header with-border">
                    <h3 class="box-title">Contact</h3>
                    <div class="pull-right box-tools">
                        <button type="button" class="btn btn-sm" data-toggle="tooltip">
                            <i class="fa fa-pencil"></i>
                        </button>
                    </div>
                </div>

                <div class="box-body">

                    <strong><i class="fa fa-pencil margin-r-5"></i> Telephone</strong>
                    <p>
                        @if (Model.CurrentUser.Item1.Phone_Number.Length > 0)
                        {
                            <a href="tel:@Model.CurrentUser.Item1.Phone_Number">@Model.CurrentUser.Item1.Phone_Number</a>
                        }
                        else
                        {
                        <p>Aucun</p>
                    }
                        </p>

                        <hr>

                        <strong><i class="fa fa-pencil margin-r-5"></i> Email</strong>
                        <p>
                            <a href="maito:@Model.CurrentUser.Item1.Email">@Model.CurrentUser.Item1.Email</a>
                        </p>

                    </div>

                </div>
            </div>

            <!-- Driving licence box -->
            <div class="col-md-6">
                <div class="box box-primary">

                    <div class="box-header with-border">
                        <h3 class="box-title">Mon permis de conduire</h3>
                        <div class="pull-right box-tools">
                            @if (!(renderDrivingLicenceVersoForm && renderDrivingLicenceRectoForm))
                            {
                                <a class="btn btn-sm" href="@Url.Action("ToggleDrivingLicenceEditForm", "Profile", new { toggleVal = "on" })">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            }
                            @if (renderDrivingLicenceVersoForm && renderDrivingLicenceRectoForm)
                            {
                                <a class="btn btn-sm" href="@Url.Action("ToggleDrivingLicenceEditForm", "Profile", new { toggleVal = "off" })">
                                    <i class="fa fa-close text-red"></i>
                                </a>
                            }
                        </div>
                    </div>

                    <div class="box-body">
                        <!-- <div class="driving-licence-box"></div> -->
                        <div class="col-md-6" style="margin-top: 10px">
                            @{
                                if (renderDrivingLicenceRectoForm)
                                {
                                    <form action="@Url.Action("AddDrivingLicence", "Profile")" method="post" enctype="multipart/form-data" runat="server">
                                        <div class="form-group">
                                            <label for="exampleInputFile">Recto (png ou jpeg)</label>
                                            <input type="file" name="UtilisateurImageRecto" id="UtilisateurImageRecto"
                                                   class="form-control" accept="image/png, image/jpeg" onchange="this.form.submit()" />
                                        </div>
                                    </form>
                                    <br />
                                }

                                if (driverLicenceRectoPath != "")
                                {
                                    <img src="@Url.Content(driverLicenceRectoPath)" class="img-responsive">
                                }
                                else
                                {
                                    <p class="text-center">Pas de recto.</p>
                                }
                            }
                        </div>
                        <div class="col-md-6" style="margin-top: 10px">
                            @{
                                if (renderDrivingLicenceVersoForm)
                                {
                                    <form action="@Url.Action("AddDrivingLicence", "Profile")" method="post" enctype="multipart/form-data" runat="server">
                                        <div class="form-group">
                                            <label for="exampleInputFile">Verso (png ou jpeg)</label>
                                            <input type="file" name="UtilisateurImageVerso" id="UtilisateurImageVerso"
                                                   class="form-control" accept="image/png, image/jpeg" onchange="this.form.submit()" />

                                        </div>
                                    </form>
                                    <br />
                                }

                                if (driverLicenceVersoPath != "")
                                {
                                    <img src="@Url.Content(driverLicenceVersoPath)" class="img-responsive">
                                }
                                else
                                {
                                    <p class="text-center">Pas de verso.</p>
                                }
                            }
                        </div>
                    </div>

                </div>
            </div>

            <!-- Personal vehicle box  -->
            <div class="col-md-6">
                <div class="box box-primary">

                    <div class="box-header with-border">
                        <h3 class="box-title">Mon véhicule personnel</h3>
                        <div class="pull-right box-tools">
                            <button type="button" class="btn btn-info btn-sm" data-toggle="tooltip">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>

                    <div class="box-body">
                        <div class="col-md-12">
                            Aucun véhicule enregistré.
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </section>