@model CarRental.UI.ViewsModels.Car.CarDetailViewsModel
@using System.Configuration

@{
    ViewBag.Title = "Detail";
    var imageUrl = ConfigurationManager.AppSettings["CarImageURL"];
    var logoUrl = "~/Images/logoCarMake/";
}

<section class="content-header">
    <h1>
        Fiche @Html.Raw(Model.carMake.Make) @Html.Raw(Model.carModel.Model)
    </h1>
</section>

<!-- Main content -->
<section class="content">

    <!-- Car -->
    <div class="box-body">
        <div class="row">

            <!-- Car infos -->
            <div class="col-md-4">
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <img src="@Url.Content(logoUrl + Model.carMake.Make + ".png")" />
                        <h3 class="box-title">@Html.Raw(Model.carMake.Make) @Html.Raw(Model.carModel.Model)</h3>
                    </div>
                    <div class="box-body">
                        <img src="@Url.Content(imageUrl + Model.car.Licence_Plate + ".jpg")" class="img-thumbnail">
                        <br><br>

                        <br>

                        <dl>
                            <dt>Immatriculation</dt>
                            <dd>@Html.Raw(Model.car.Licence_Plate)</dd>
                            <dt>Moteur</dt>
                            <dd>@Html.Raw(Model.car.Energy_Value)</dd>
                        </dl>
                    </div>
                </div>
            </div>

            <!-- Car calendar -->
            <div class="col-md-8">
                <div class="box box-primary">
                    <div class="box-body no-padding">
                        <div id="calendar"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>


@section scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: [ 'interaction', 'dayGrid', 'timeGrid' ],
                defaultView: 'dayGridMonth',
                defaultDate: '2019-08-16',
                lang: 'fr',
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                events: {
                    url: '/Car/GetCalendarData',
                    type: 'POST',
                    extraParams: {
                        licencePlate: '@Model.car.Licence_Plate'
                    }
                }
            });
            calendar.render();
            calendar.setOption('locale', 'fr');
        });
    </script>
}