@model CarRental.Model.UserDTO
@{
    Layout ="~/Views/Shared/LoginLayout.cshtml";
}
<p class="login-box-msg">Changer mon mot de passe</p>

@using (Html.BeginForm("PasswordReset", "Login", FormMethod.Post))

{
    <div class="form-group has-feedback row">
        <div class="col-xs-12 col-md-4">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="col-xs-12 col-md-8">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            <br />
            @Html.ValidationMessageFor(model => model.Email)
        </div>
    </div>                
    <div class="row">
        <label class="field-validation-error">@Html.DisplayFor(model => model.LoginErrorMessage)</label>
    </div>
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            <input type="submit" class="btn btn-primary btn-block btn-flat" value="Envoyer un lien ">
        </div>
        <div class="col-xs-2"></div>
    </div>                
}
<br />
<a href="@Url.Action("Index","Login")">Me connecter</a>
            