@model CarRental.UI.ViewsModels.Booking.BookingValidationViewsModel
@using CarRental.Model

@{
    ViewBag.Title = "Validation";
}

<section class="content">

    <div class="row">

        <!-- reservation -->
        <div class="col-sm-6">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <i class="fa fa-arrow-right"></i>
                    <h3 class="box-title">Reservation</h3>
                </div>
                <div class="box-body">
                    <dl class="dl-horizontal">
                        <dt>Demande de</dt>
                        <dd>@Model.Booking.createdBy.Firstname @Model.Booking.createdBy.Lastname</dd>
                        <dt>Date</dt>
                        <dd>@Model.Booking.stopOver.Departure_Date.ToString("dd/MM/yyyy") au @Model.Booking.stopOver.Arrival_Date.ToString("dd/MM/yyyy")</dd>
                    </dl>
                </div>
            </div>
        </div>

        <!-- general -->
        <div class="col-sm-6">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <i class="fa fa-arrow-right"></i>
                    <h3 class="box-title">General</h3>
                </div>
                <div class="box-body">
                    <dl class="dl-horizontal">
                        <dt>Raison du déplacement</dt>
                        <dd>@Model.Booking.requestBooking.Reason</dd>
                    </dl>
                </div>
            </div>
        </div>

    </div>
    <div class="row">

        <!-- departure -->
        <div class="col-sm-6">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <i class="fa fa-arrow-right"></i>
                    <h3 class="box-title">Départ</h3>
                </div>
                <div class="box-body">
                    <dl class="dl-horizontal">
                        <dt>Chauffeur</dt>
                        <dd>
                            <a href="@Url.Action("Index", "Profile", new { idUser = Model.Booking.driverAller.Id })" class="profile">@Model.Booking.driverAller.Firstname @Model.Booking.driverAller.Lastname</a>
                        </dd>
                        <dt>Passagers</dt>
                        <dd>
                            @foreach (UserDTO user in Model.Booking.passagersAller)
                            {
                                <a href="@Url.Action("Index", "Profile", new { idUser = user.Id })" class="profile">@user.Firstname @user.Lastname</a>
                            }
                        </dd>
                        <dt>Adresse</dt>
                        <dd>
                            <a href="https://www.google.com/maps/search/?api=1&query=cite+congres+nantes" target="_blank">
                                @Model.Booking.addressAller.Name , @Model.Booking.addressAller.Route
                                @Model.Booking.addressAller.Postal_Code @Model.Booking.addressAller.Locality
                            </a>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>

        <!-- return -->
        <div class="col-sm-6">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <i class="fa fa-arrow-right"></i>
                    <h3 class="box-title">Arrivée</h3>
                </div>
                <div class="box-body">
                    <dl class="dl-horizontal">
                        <dt>Chauffeur</dt>
                        <dd>
                            <a href="@Url.Action("Index", "Profile", new { idUser = Model.Booking.driverRetour.Id })" class="profile">@Model.Booking.driverRetour.Firstname @Model.Booking.driverRetour.Lastname</a>
                        </dd>
                        <dt>Passagers</dt>
                        <dd>
                            @foreach (UserDTO user in Model.Booking.passagerRetour)
                            {
                                <a href="@Url.Action("Index", "Profile", new { idUser = user.Id })" class="profile">@user.Firstname @user.Lastname</a>
                            }
                        </dd>
                        <dt>Adresse</dt>
                        <dd>
                            <a href="https://www.google.com/maps/search/?api=1&query=eni+nantes" target="_blank">
                                @Model.Booking.addressRetour.Name , @Model.Booking.addressRetour.Route
                                @Model.Booking.addressRetour.Postal_Code @Model.Booking.addressRetour.Locality
                            </a>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>

    </div>

    <!-- bottom buttons 1 -->
    <div class="row">
        <div class="box-footer text-center">
            <div class="col-sm-6">
                <br>
                <a class="btn btn-danger btn-block" href="@Url.Action("RefuserBooking", "Booking", new { id = Model.Booking.requestBooking.id })">
                    <i class="fa fa-mail-reply"></i> Refuser
                </a>
            </div>
            <div class="col-sm-6">
                <br>
                <a class="btn bg-olive btn-block" href="@Url.Action("AssignationCar", "Booking", new { id = Model.Booking.requestBooking.id })">
                    <i class="fa fa-check"></i> Assigner une voiture
                </a>
            </div>
        </div>
    </div>

</section>

